.footer{
    background-color:rgb(47, 47, 244);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
    margin-left:15px;
    height:60px;
    
}
.flip >img{
 height:29px; 
 margin-right:40px;  
}
.footer >input{
margin-left: 15px;
height:29px;
width: 700px;
border-color:antiquewhite;
}
.footer > a{
    margin-left: 30px;
    font-size:22px;
    padding:10px 5px;
    color:white;
}
.explore{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
    border-color: rgb(35, 34, 33);
    background-color: bisque;
    height:150px;

    
}
.img >img{
   height: 90px;
}
.img{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-left: 80px;
}
.store{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
    background-color:azure;
    padding-left: 10px 25px;
    border-radius: 5px;
    border-color: black;
    height:300px;
}
.items{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-left: 100px;
    
}
.items >a{
    color: rgb(15, 186, 15);
    padding-top: 8px;
    font-size:17px;
}
.items >img{
    height:150px;
    width:150px;
    
}
.swing {
padding:15px;
height:300px;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
background-color:lightblue;
padding-top: -10px;
}
.swing >img{
    height:450px;
    width:1500px;
}


.cart >img{
    height:25px;
    margin-left: 30px;
}
#box{
    margin-left: -3px;
    margin-top: -3px;
}
